= bootstrap_form_for @elf, layout: :vertical do |f|
  .container
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :speciality
    = f.date_field :date_of_birth

    = f.primary
